{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th colspan="2"><h2>Base de données</h2></th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td><a href="{{ path('app_post_details', {'id':post['id']}) }}"> {{ post['title'] }} </a></td>
                <td>{{ post['nbResponse'] }} réponses</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}


