{% extends "::base.html.twig" %}

{% block title %}AppBundle:Post:details{% endblock %}
{% block body %}
    <h2>Tout sur la clause WHERE</h2>
    <div>
        <p>par jean@expert.sql.com le 02/08/2015</p>
        <p style="border-bottom: 2px solid black">
            Proinde die funestis interrogationibus praestituto imaginarius iudex equitum resedit magister adhibitis aliis
            iam quae essent agenda praedoctis, et adsistebant hinc inde notarii, quid quaesitum esset, quidve responsum,
            cursim ad Caesarem perferentes, cuius imperio truci, stimulis reginae exsertantis aurem subinde per aulaeum,
            nec diluere obiecta permissi nec defensi periere conplures.
        </p>
        <div class="anwser_comment" style="margin-left: 52px">
            <div>
                <p><span>10/08/2015</span>::<span>pierre@padawan.sql</span></p>
                <p style="border-bottom: 2px solid black">Sed laeditur hic coetuum magnificus splendor levitate paucorum incondita, ubi nati sunt non reputantium,
                    sed tamquam indulta licentia vitiis ad errores lapsorum ac lasciviam. ut enim Simonides lyricus docet,
                    beate perfecta ratione vieturo ante alia patriam esse convenit gloriosam.
                </p>
            </div>
            <div>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="votre email">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">valider</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
